In [1]:
def calculate_circle_area(radius = 5):
      area = 3.14 * radius * radius

calculate_circle_area()
print(area)

NameError: name 'area' is not defined

In [3]:
import pandas as pd

In [4]:
df=pd.read_json('22d13816-59fd-44d1-97dc-c98af92c480c_83d04ac6-cb74-4a96-a06a-e0d5442aa126_globalmart_data_from_0th_offset.json')

In [5]:
df

,id,sales_amt,qty,discount,profit_amt,order,product
0,4102,2.0000,0,72.948,null,"{'order_id': 'US-2017-102288', 'ship_mode': 'S...","{'product_id': 'OFF-AP-10002684', 'product_nam..."
1,2698,261.9600,2,0.000,41.9136,"{'order_id': 'CA-2014-145317', 'ship_mode': 'S...","{'product_id': 'FUR-BO-10001798', 'product_nam..."
2,6827,731.9400,3,0.000,219.582,"{'order_id': 'CA-2016-118689', 'ship_mode': 'S...","{'product_id': 'FUR-CH-10000454', 'product_nam..."
3,8154,14.6200,2,0.000,6.8714,"{'order_id': 'CA-2017-140151', 'ship_mode': 'F...","{'product_id': 'OFF-LA-10000240', 'product_nam..."
4,2624,957.5775,5,0.450,-383.031,"{'order_id': 'CA-2017-127180', 'ship_mode': 'F...","{'product_id': 'FUR-TA-10000577', 'product_nam..."
...,...,...,...,...,...,...,...
495,289,189.8820,3,0.400,-94.941,"{'order_id': 'CA-2016-112697', 'ship_mode': 'S...","{'product_id': 'FUR-TA-10001857', 'product_nam..."
496,336,105.4200,2,0.000,51.6558,"{'order_id': 'CA-2015-137946', 'ship_mode': 'S...","{'product_id': 'OFF-EN-10001434', 'product_nam..."
497,5569,119.6160,8,0.200,40.3704,"{'order_id': 'CA-2017-157966', 'ship_mode': 'S...","{'product_id': 'OFF-BI-10002498', 'product_nam..."
498,8821,255.7600,4,0.000,81.8432,"{'order_id': 'CA-2017-100622', 'ship_mode': 'S...","{'product_id': 'FUR-FU-10004864', 'product_nam..."
499,2898,241.5680,2,0.200,18.1176,"{'order_id': 'US-2016-164630', 'ship_mode': 'S...","{'product_id': 'FUR-CH-10002602', 'product_nam..."

In [17]:
data1=df['product']

In [33]:
len(data1[102]['sizes'].split(','))

7

In [34]:
maxi=0
name=''
for i in range(len(data1)):
    temp=len(data1[i]['sizes'].split(','))
    if temp>maxi:
        maxi=temp
        name=data1[i]['product_name']

In [35]:
name

'Redi-Strip #10 Envelopes, 4 1/8 x 9 1/2'

In [42]:
for i in range(len(data1)):
    if data1[i]['product_name']=='Mitel 5320 IP Phone VoIP phone':
        sizes_availiable=len(data1[i]['sizes'].split(','))
        break
sizes_availiable

1